h1 landing

div.form
    form(action="/story/create", method="post")
        input(name="name", type="text", placeholder="x")
        button(type="submit") Create Story

    h3 Twitter
    div
        a(class="btn primary", href="auth/login") Login
    div
        a(class="btn", href="auth/twitter" ) login to twitter
