extends ../layouts/base

block css
    link(rel='stylesheet', href='/stylesheets/story/style.css')

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/story/story.js')

block debug
    div.debug
        h3 Connected Users
        div.debug-users